<div class="contact-info">
    <div class="card">
        <i class="icon pi pi-envelope"></i>
        <div class="card-content">
            <h3>Email</h3>
            <span>contact@getwireless.com.tn</span>
        </div>
    </div>

    <div class="card">
        <i class="icon pi pi-phone"></i>
        <div class="card-content">
            <h3>Phone Number</h3>
            <span>Office: (+216) – 71 18 00 60
                Fax:     (+216) – 71 18 00 67</span>
        </div>
    </div>

    <div class="card">
        <i class="icon pi pi-map"></i>
        <div class="card-content">
            <h3>Location</h3>
            <span>Rue Alfred Nobel, ZA Kheireddine, Immeuble Zarrad, Bloc A, 1er Etage
                Les Berges du Lac III, 2089 Tunis, Tunisie</span>
        </div>
    </div>
</div>