<!-- [style]="{'background-color': '#0a3b70'}" -->

<p-menubar   >
    <div style="display: inline-flex;  width: 1300px; ">
    <div style="  float:left;">
        <img src="../../assets/149566752_299518481586454_2330217313313758796_n.png" height="60px" >
    </div>
    <div> <h1 class="title">HelpDesk</h1></div>
    <div style="float: left ; margin-left:660px;">
<p-menubar [model]="items"  >
    
    
    <div  >
        <button type="button" pButton label="Connexion" icon="pi pi-sign-in" style="margin-left:.25em"></button>
    </div>
</p-menubar></div>
</div></p-menubar>
<div style="margin-top: 190px;">
<app-footer ></app-footer></div>